/* ScheduleSection.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}
/* стили для блока полное расписание */
.lesson-subject-group-th {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.lesson-group-th {
  font-weight: 600;
  color: #0033a0;
  font-size: 15px;
}

.lesson-room-th {
  flex: 0 0 auto;
  font-weight: 400;
  color: #0033a0;
  font-size: 14px;
  margin-left: auto;
  width: 100px;
  text-align: right;
}

/* стили для блока расписания на сегодня */
.today-subject-group-th {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.today-group-th {
  font-weight: 600;
  color: #0033a0;
  font-size: 15px;
}

.today-room-th {
  flex: 0 0 auto;
  font-weight: 400;
  color: #0033a0;
  font-size: 14px;
  width: 70px;
}


/* остальные стили описаниы в st-components\ScheduleSection.css */